@model WebApplication2.tProject

@{
    ViewBag.Title = "addsession";
}

<h2>加入購物車</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>tProject</h4>
        <hr />
        <input type="hidden" name="fProduct" value="@Model.fid" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("購買量", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("fCount", new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "List")

</div>